.column {
  border-radius: 20px;
  border: #fff 1px solid;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s all ease-in-out;
  position: relative;
}

.columnHidden {
  opacity: 0.2;
}

.columnHeader {
  width: 100%;
  padding: 15px;
  border-radius: 20px 20px 0 0;
  background-color: var(--secondary-color);
}

.columnTitle {
  color: var(--invert-secondary-color);
  font-family: var(--font-family1);
  font-size: 1.5rem;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.columnFooter {
  width: 100%;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
