body {
  font-family: var(--font-family1);
  background: var(--background-color);
}

#root {
  display: flex;
  justify-content: start;
  align-items: start;
}

.kanban {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 25px;
  min-height: calc(100vh - 50px); /* 50px - space for scrollbar */
  padding-bottom: 20px;
  padding: 20px;

  overflow-x: auto;
  align-items: start;
}
