.card {
  width: 100%;
  height: fit-content;
  padding: 20px;
  font-family: var(--font-family2);
  border-radius: 15px;
  border: var(--primary-color) 1px solid;
}

.cardTitle {
  color: var(--primary-color);
  font-size: 18px;
}
